<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="card mb-6">
          <header class="card-header">
            <p class="card-header-title">
              <%= @recipe.name %>
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <%= @recipe.maker %>
            </div>
          </div>
        </div>
        <%= render 'reviews/form', review: @review, recipe:@recipe %>
      </div>
    </div>
  </div>
</section>
